input {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: cornflowerblue;
}

.btn {
    border-radius: 18px;
}

body {
    padding-top: 60px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.jga-widget-tool {
    position: absolute;
    right: 0px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
}