<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a href="profile.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div class="alert alert-success">
        Successfully updated your profile
    </div>

    <div class="alert alert-danger">
        Unable to update your profile
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   value="jannunzi"
                   class="form-control"
                   id="username"
                   placeholder="alice"/>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   value="jannunzi@gmail.com"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com"/>
        </div>
        <div class="form-group">
            <label for="first">First Name</label>
            <input type="text"
                   class="form-control"
                   id="first"
                   value="Jose"
                   placeholder="Alice"/>
        </div>
        <div class="form-group">
            <label for="last">Last Name</label>
            <input type="text"
                   value="Annunziato"
                   class="form-control"
                   id="last"
                   placeholder="Wonderland"/>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="../website/website-list.html">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
</div>
