<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../page/page-list.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="profile.html">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div ng-repeat="widget in model.widgets" ng-switch="widget.widgetType">
    <div class="jga-widget-tool">
        <a href="#">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
    <div ng-switch-when="HEADER" class="jga-widget">
        <div ng-switch="widget.size">
            <h1 ng-switch-when="1">{{widget.text}}</h1>
            <h2 ng-switch-when="2">{{widget.text}}</h2>
            <h3 ng-switch-when="3">{{widget.text}}</h3>
            <h4 ng-switch-when="4">{{widget.text}}</h4>
            <h5 ng-switch-when="5">{{widget.text}}</h5>
            <h6 ng-switch-when="6">{{widget.text}}</h6>
        </div>
    </div>
    <div ng-switch-when="IMAGE" class="jga-widget">
        <img ng-src="{{widget.url}}"
             width="{{widget.width}}"/>
    </div>
    <div ng-switch-when="HTML" class="jga-widget" ng-bind-html="model.getTrustedHtml(widget)">
    </div>
    <div ng-switch-when="YOUTUBE" class="jga-widget">
        <iframe width="{{widget.width}}" height="auto" ng-src="{{model.getTrustedUrl(widget)}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div ng-switch-default>
        {{widget}}
    </div>
</div>
