<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../page/page-list.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="profile.html">
                Widget Chooser
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<a href="" ng-click="model.createWidget('HEADING')">Heading</a>
<br/>
<a href="" ng-click="model.createWidget('IMAGE')">Image</a>
<br/>
<a href="" ng-click="model.createWidget('YOUTUBE')">YouTube</a>
<br/>

